@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
:root{
    --color-principal: purple;
    --color-sombra: rgba(44, 16, 54, 0.2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
    cursor: default;
}

.timeline{
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 100%;
}

.timeline::before{
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
    transition: all .5s;
}

.timeline ul li:hover::before {
    transform: scale(1.7);

}

.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;

}

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

.timeline ul li::before{
    content: '';
    position: absolute;
    top: 30px;
    width: 10px;
    height: 10px;
    background: var(--color-principal);
    border-radius: 50%;
    box-shadow: 0 0 0 3px var(--color-sombra);
}

.timeline ul li:nth-child(odd)::before{
    right: -6px;
}

.timeline ul li:nth-child(even)::before{
    left: -4px;
}

.content{
    padding-bottom: 20px;
}

.timeline ul li h3{
    font-weight: 600;
    color: var(--color-principal);
}

.timeline ul li p{
    margin: 10px 0 0;
   
}

.time {
    font-size: 14px;
    position: absolute;
    top: 20px;
    padding: 8px 15px;
    background: var(--color-principal);
    color: white;
    border-radius: 20px;
    box-shadow: 0 0 0 3px var(--color-sombra);
    transition: all .5s;

}

.timeline ul li:nth-child(odd) .time {
    right: -145px;
}

.timeline ul li:nth-child(even) .time {
    left: -145px;
}

.timeline ul li:hover .time {
    transform: scale(1.1);

}




